<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@magentocommerce.com so we can send you a copy immediately.
 *
 * @category    Hostedpci
 * @package     Hostedpci_Hpci
 * @author      Adam Chetverkin (adam.chetverkin@snowcommerce.com)
 * @copyright   Copyright (c) 2016 Snow Commerce (http://snowcommerce.com)
 * @license     @ Snow Commerce
 */
-->
<config>
    <modules>
        <Hostedpci_Hpci>
            <version>3.1.4</version>
        </Hostedpci_Hpci>
    </modules>
    <global>
        <models>
            <hpci>
                <class>Hostedpci_Hpci_Model</class>
                <resourceModel>hpci_resource</resourceModel>
            </hpci>
            <hpci_resource>
                <class>Hostedpci_Hpci_Model_Resource</class>
                <entities>
                    <card>
                        <table>hpci_cards</table>
                    </card>
                    <transaction>
                        <table>hpci_transactions</table>
                    </transaction>
                    <fraudLog>
                        <table>hpci_fraud_log</table>
                    </fraudLog>
                </entities>
            </hpci_resource>
            <sales>
                <rewrite>
                    <order_payment>Hostedpci_Hpci_Model_Order_Payment</order_payment>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <hpci>
                <class>Hostedpci_Hpci_Helper</class>
            </hpci>
        </helpers>
        <resources>
            <hpci_setup>
                <setup>
                    <module>Hostedpci_Hpci</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
            </hpci_setup>
        </resources>
        <blocks>
            <hpci>
                <class>Hostedpci_Hpci_Block</class>
            </hpci>
            <customer>
                <rewrite>
                    <account_navigation>Hostedpci_Hpci_Block_Customer_Account_Navigation</account_navigation>
                </rewrite>
            </customer>
        </blocks>
        <template>
            <email>
               <hpci_activateemail>
                   <label>Hpci activate email</label>
                   <file>hpci_activateemail.html</file>
                   <type>html</type>
               </hpci_activateemail>
            </email>
        </template>
        <events>
            <sales_convert_quote_to_order>
                <observers>
                    <hpci_quote_to_order>
                        <type>singleton</type>
                        <class>Hostedpci_Hpci_Model_Observer</class>
                        <method>quoteToOrder</method>
                    </hpci_quote_to_order>
                </observers>
            </sales_convert_quote_to_order>
            <customer_delete_before>
                <observers>
                    <hpci_customer_delete_before>
                        <type>singleton</type>
                        <class>Hostedpci_Hpci_Model_Observer</class>
                        <method>customerDeleteBefore</method>
                    </hpci_customer_delete_before>
                </observers>
            </customer_delete_before>
            <customer_load_after>
                <observers>
                    <hpci_customer_load_after>
                        <type>singleton</type>
                        <class>Hostedpci_Hpci_Model_Observer</class>
                        <method>customerLoadAfter</method>
                    </hpci_customer_load_after>
                </observers>
            </customer_load_after>
            <sales_convert_order_to_quote>
                <observers>
                    <hpci_sales_convert_order_to_quote>
                        <type>singleton</type>
                        <class>Hostedpci_Hpci_Model_Observer</class>
                        <method>convertOrderToQuote</method>
                    </hpci_sales_convert_order_to_quote>
                </observers>
            </sales_convert_order_to_quote>
            <controller_action_predispatch_adminhtml_sales_order_edit_save>
                <observers>
                    <hpci_adminhtml_sales_order_edit_save>
                        <class>hpci/observer</class>
                        <method>salesOrderEditSavePreDispatch</method>
                    </hpci_adminhtml_sales_order_edit_save>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_edit_save>
            <adminhtml_customer_prepare_save>
                <observers>
                    <hpci_customer_save_before>
                        <type>singleton</type>
                        <class>hpci/observer</class>
                        <method>saveCustomerCard</method>
                    </hpci_customer_save_before>
                </observers>
            </adminhtml_customer_prepare_save>
            <sales_quote_item_set_product>
                <observers>
                    <atwix_customattribute>
                        <class>hpci/observer</class>
                        <method>copyIsBackorderAttribute</method>
                    </atwix_customattribute>
                </observers>
            </sales_quote_item_set_product>
            <sales_order_payment_place_end>
                <observers>
                    <hpci_payment_place_end>
                        <type>singleton</type>
                        <class>hpci/observer</class>
                        <method>salesOrderPaymentPlaceEnd</method>
                    </hpci_payment_place_end>
                </observers>
            </sales_order_payment_place_end>
            <checkout_type_onepage_save_order>
                <observers>
                    <hpci_onepage_save_order>
                        <type>singleton</type>
                        <class>hpci/observer</class>
                        <method>checkoutTypeOnepageSaveOrder</method>
                    </hpci_onepage_save_order>
                </observers>
            </checkout_type_onepage_save_order>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <hpci_onepage_save_order>
                        <type>singleton</type>
                        <class>hpci/observer</class>
                        <method>checkoutTypeMultishippingSaveOrder</method>
                    </hpci_onepage_save_order>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <controller_action_predispatch_checkout_multishipping_overview>
                <observers>
                    <hpci_onepage_save_order>
                        <type>singleton</type>
                        <class>hpci/observer</class>
                        <method>savePaymentToSession</method>
                    </hpci_onepage_save_order>
                </observers>
            </controller_action_predispatch_checkout_multishipping_overview>
            <hpci_cc_data_prepare>
                <observers>
                    <hpci_kount_cc_data_prepare>
                        <class>Hostedpci_Hpci_Helper_Kount</class>
                        <method>addRequestData</method>
                    </hpci_kount_cc_data_prepare>
                </observers>
            </hpci_cc_data_prepare>
            <hpci_authorize_capture_after>
                <observers>
                    <hpci_kount_authorize_capture>
                        <class>Hostedpci_Hpci_Helper_Kount</class>
                        <method>hpciAuthorizeOrCaptureAfter</method>
                    </hpci_kount_authorize_capture>
                </observers>
            </hpci_authorize_capture_after>
            <hpci_authorize_after>
                <observers>
                    <hpci_kount_authorize>
                        <class>Hostedpci_Hpci_Helper_Kount</class>
                        <method>hpciAuthorizeOrCaptureAfter</method>
                    </hpci_kount_authorize>
                </observers>
            </hpci_authorize_after>
            <sales_order_place_after>
                <observers>
                    <hpci_kount_check>
                        <class>Hostedpci_Hpci_Helper_Kount</class>
                        <method>salesOrderPlaceAfter</method>
                    </hpci_kount_check>
                </observers>
            </sales_order_place_after>
        </events>
        <payment>
            <groups>
                <hpci>Hpci</hpci>
            </groups>
        </payment>

        <fieldsets>
            <sales_convert_quote_item>
                <is_backorder>
                    <to_order_item>*</to_order_item>
                </is_backorder>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <is_backorder>
                    <to_quote_item>*</to_quote_item>
                </is_backorder>
            </sales_convert_order_item>
        </fieldsets>

        <sales>
            <quote>
                <item>
                    <product_attributes>
                        <is_backorder />
                    </product_attributes>
                </item>
            </quote>
        </sales>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <hpci_admin after="Mage_Adminhtml">Hostedpci_Hpci_Adminhtml</hpci_admin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <secure_url>
            <hpci_processing>/hpci/processing</hpci_processing>
        </secure_url>
        <routers>
            <hpci>
                <use>standard</use>
                <args>
                    <module>Hostedpci_Hpci</module>
                    <frontName>hpci</frontName>
                </args>
            </hpci>
        </routers>
        <translate>
            <modules>
                <Hostedpci_Hpci>
                    <files>
                        <default>Hostedpci_Hpci.csv</default>
                    </files>
                </Hostedpci_Hpci>
            </modules>
        </translate>
        <layout>
            <updates>
                <hpci>
                    <file>hpci.xml</file>
                </hpci>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Hostedpci_Hpci>
                    <files>
                        <default>Hostedpci_Hpci.csv</default>
                    </files>
                </Hostedpci_Hpci>
            </modules>
        </translate>
        <layout>
            <updates>
                <hpci>
                    <file>hpci.xml</file>
                </hpci>
            </updates>
        </layout>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <hpci translate="title" module="hpci">
                                            <title>Hpci Settings</title>
                                        </hpci>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <!--<events>-->
            <!--<controller_action_predispatch>-->
                <!--<observers>-->
                    <!--<hpci_notification>-->
                        <!--<type>model</type>-->
                        <!--<class>hpci/feed</class>-->
                        <!--<method>checkUpdate</method>-->
                    <!--</hpci_notification>-->
                <!--</observers>-->
            <!--</controller_action_predispatch>-->
        <!--</events>-->
        <events>
            <controller_action_predispatch_adminhtml_sales_order_create_save>
                <observers>
                    <hpci_notification>
                        <type>model</type>
                        <class>hpci/observer</class>
                        <method>kountAdminOrderCreate</method>
                    </hpci_notification>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_create_save>
        </events>
    </adminhtml>
    <hostedpci>
        <hpci>
            <verify_url>http://www.hostedpci.com/index.php?id=105</verify_url>
        </hpci>
    </hostedpci>
    <default>
        <payment>
            <hpci_acc>
                <active>1</active>
                <model>hpci/acc</model>
                <title>Hosted PCI Online Checkout</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize</payment_action>
                <cctypes>AE,VI,MC,DI</cctypes>
                <group>hpci</group>
                <currency>USD</currency>
            </hpci_acc>
        </payment>
        <hpci>
            <settings>
                <payment_profile>DEF</payment_profile>
                <manage_cards>1</manage_cards>
                <delete_default_card>0</delete_default_card>
                <multiple_cards>0</multiple_cards>
                <activationstatus>0</activationstatus>
                <hpci_url>https://cc.hostedpci.com/iSynSApp/showPxyPage!ccFrame.action</hpci_url>
                <fraud_protection_interval>5</fraud_protection_interval>
            </settings>
        </hpci>
    </default>

    <crontab>
        <jobs>
            <hpci_transactions_cleanup>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>hpci/observer::transactionsCleanup</model>
                </run>
            </hpci_transactions_cleanup>
            <hpci_cards_exp_notifications>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>hpci/observer::checkCardExp</model>
                </run>
            </hpci_cards_exp_notifications>
        </jobs>
    </crontab>
</config>
